body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Allow scrolling */
  }
  
  .app-container {
    width: 2560px;
    height: 1440px;
    margin: 0 auto;
    overflow: auto; /* Allow scrolling */
    position: relative;
  }
  
  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
  }